{% extends "base.html" %}{% block content %}
  <h1>Recent Posts</h1>
  {% comment %} here is where the query happens {% endcomment %}
  {% for post in object_list %}
  <div class="post">
    <h2>
      <a href="{% url 'blog_detail' post.pk %}">{{ post }}</a>
    </h2>
    <p class="byline">
      Posted by {{ object_list.author.username }} &mdash; {{ object_list.published_date }}
    </p>
    <div class="post-body">
      {{ object_list.text }}
    </div>
    <ul class="categories">
      {% for category in object_list.categories.all %}
        <li>{{ category }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}